
/* Changes font of website */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* adds skip link to home page */
.skip {
  position: absolute;
  left: -10000px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}


/* Displays hero image on home page */

body, html {
  height: 60rem;
}

.himage {
  background-image: url("../images/hero-image.jpg");
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;

}

.htext {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-shadow: 5px 0px 7px#000000;
}

/* Changes style of header text */
h2 {
  text-align: center;
  font-size: 35px;
  color: #4f4d9e;
}

h3, p {
  margin-left: 50px;
}

footer {
  margin-top: 200px;
}
/* Styles text on the about page */

.keylahimg {
  display: flex;
  justify-content: center;
}

.keylahtxt {
  display: flex;
  justify-content: center;
  margin-right: 55px;
}



.keylah {
  width: 400px;
  height: 450px;
}

/* Social media buttons */
button {
  background-color: #4f4d9e;
  border: none;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2, 1.2);
  transition: ease-in 0.5s;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn2 {
  margin-left: 100px;
}

.btn1 {
  margin-right: 100px;
}

/* Styles nav bar (Code referenced from W3 Schools) */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(222, 222, 222);
}

li a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: black;
  }

li a:hover {
    background-color: rgb(61, 61, 119);
    color: aliceblue;
}

/* Styles contact form (Code referenced from W3 Schools) */
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit]:hover {
    background-color: #695bc2;
  }

  input[type=submit] {
    background-color: #3b3972;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
  }

  .container {
    border-radius: 5px;
    padding: 40px;
  }

  /* Animates BOOK NOW on contact page */

  .animation {
    animation-name: textgrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }

  @keyframes textgrow {
    0% { 
      transform: scale(1); 
    }
    50% 
    {transform: scale(1.5); 
    }
    100% {
      transform: scale(1); 
    }
  }


/* Sets up media query for computer screens */
@media (min-width:1281px) {
    li {
        display: inline;
        float: left;
    }

    a {
        display: block;
        padding: 8px;
        background-color:  rgb(222, 222, 222);
    }

    li a{
        display: block;
        color: black;
        text-align: center;
    }

    ul {
        background-color:  rgb(222, 222, 222);
        list-style-type: none;
        overflow: hidden;
    }
}

